# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration (Local MongoDB or MongoDB Atlas URI)
# Local example: mongodb://127.0.0.1:27017/farmer_procurement
# Atlas example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/farmer_procurement?retryWrites=true&w=majority
MONGO_URI=mongodb://127.0.0.1:27017/farmer_procurement

# Client URL (for CORS setup)
CLIENT_URL=http://localhost:5173
